@import '~antd/dist/antd.css';

body {
  font-size: 20px;
  background-color: black !important;
  color: white !important;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, .ant-typography {
  color: white !important;
}